@model  Rentflix.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.name</h2>
<ul>
    <li>Genre: @Model.Genre</li>
    <li>Release Date: @Model.ReleaseData</li>
    <li>Date Added: @Model.DateAdded</li>
    <li>Number In Stock: @Model.NumberInStock</li>
</ul>

